# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
ycsb-0.17.0/
tests/cometbft/cometbftconfig/*
tracer/target/
rose/c/.cache/
.vscode/
tests/bugdetection/*
parser/__pycache__/*
tests/uprobetest/target/
schedules/generatedschedules/*
*/__pycache__/*
bug_reproductions/traces/*
.vagrant/*
build
schedules/reproduced_bugs/redpanda/lxc/binaries
schedules/tracing_tests/redis/traces
temp_sched.yaml
.clj-kondo
.lsp
.cache
.vagrant
.zed
schedules/reproduced_bugs/redpanda/setup/*
pyrightconfig.json
rose.egg-info
__pycache__
