[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf
[submodule "bpftool"]
	path = bpftool
	url = https://github.com/libbpf/bpftool
[submodule "jepsen"]
    path = rw/jepsen
    url = https://github.com/sebastiaoamaro/jepsen
[submodule "bpftool"]
    path = bpftool
    url = https://github.com/libbpf/bpftool.git
[submodule "tracer/libbpf-rs"]
    path = tracer/libbpf-rs
    url = https://github.com/libbpf/libbpf-rs.git
[submodule "executor/kernelmodule/dwarves"]
    path = executor/kernelmodule/dwarves
    url = https://github.com/acmel/dwarves.git
[submodule "Anduril"]
	path = rw/Anduril
	url = https://github.com/sebastiaoamaro/Anduril
	branch = main
[submodule "RedisRaft"]
	path = schedules/reproduced_bugs/redisraft/lxc/redisraft_jepsen
	url = https://github.com/sebastiaoamaro/redis
[submodule "Redpanda"]
	path = schedules/reproduced_bugs/redpanda/lxc/redpanda_jepsen
	url = https://github.com/sebastiaoamaro/redpanda
